@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: "Roboto", ;

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}